#title {
  position:fixed;
  top:0px;
  left:0px;
  padding:10px;
  margin:0px;
  width:100%;
  text-align:center;
  background-color:lightblue;
  font-family: "BabelStoneModernRegular";
  font-weight: normal;
  font-style: normal;
  z-index:10;
}

body{
  background-image:url("https://img.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg");
}
  .row{
  position:relative;
  margin-left:25%;
  margin-right:15%;
  clear:both
}

.white{
  border: 1px solid black;
  width: 10%;
  height: 60px;
  text-align:center;
  background-color:white;
  float:left;
}

.black{
  border: 1px solid black;
  width: 10%;
  height: 60px;
  text-align:center;
  background-color:#787878;
  float:left;
}
img{
  margin-left:5px;
  margin-top:10px;
}
  #container {
    margin-top:20%;
    margin-left:10%;
    margin-right:10%;
    margin-bottom:5%;
  }

  #footer{
    text-align:center;
    padding: 10px;
    margin: auto;
    background-color:lightblue;
    border:0;
  }
